mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 12px;
  padding: 0 16px;
  background-color: #4B0000; 
  color: #fff;
  height: 80px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  color: #FFD700; 
}

mat-toolbar a.mat-button {
  color: #B8860B !important;
  font-weight: 600;
  font-size: 2rem;
  padding: 0 8px;
  text-decoration: none;
}

mat-toolbar a.mat-button:hover {
  color: #FFF5E1 !important; 
  text-decoration: underline;
}


@media only screen and (max-width: 630px) {
  .about-btn {
    display: none;
  }
}

.movie-card {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  gap: 16px !important;
  margin-bottom: 1rem !important;
}
