body, html {
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ddd;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: inherit; 
}

.movie-card img {
  margin: 0 !important;  
  align-self: flex-start;
}

.movie-card {
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start !important;
  gap: 16px !important;
  margin-bottom: 1rem !important;
  padding: 16px !important;        
  box-sizing: border-box !important; 
}


.movie-poster {
  width: 150px !important;
  height: auto !important;
  object-fit: contain !important;
  border-radius: 4px !important;
  flex-shrink: 0 !important;
  margin: 0 !important; 
  align-self: flex-start !important;
  transform: translate(15px, 10px);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; 
}

.loading {
  width: 700px;
  height: 300px;
  text-align: center;
}

.auth-card {
  max-width: 400px;
  margin: 50px auto; 
  padding: 20px;
}

.width-full {
  width: 100%;
}

.form-layout {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.width-full {
  width: 100%;
}

.wrapper {
  margin-top: 30px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.actions {
  width: 300px;
  height: 52px;
  display: flex;
  flex-direction: row;
  align-items: center;
}