<div *ngIf="error" class="container">
  <mat-card class="loading" appearance="outlined">
    <mat-card-content>
      <h3>Oops, an error occurred!</h3>
      <p style="color: red;">{{ error }}</p>
    </mat-card-content>
  </mat-card>
</div>


<div *ngIf="movies">
  <div *ngFor="let movie of movies">
    <mat-card appearance="outlined" class="movie-card">
      <img *ngIf="movie.poster; else noImage" mat-card-image [src]="movie.poster" alt="{{ movie.title }}"
        class="movie-poster" />
      <ng-template #noImage>
        <img mat-card-image src="assets/no-image.png" alt="No poster available" class="movie-poster" />
      </ng-template>
      
      <div class="movie-details" style="margin-left: 16px; flex: 1;">
        <mat-card-content>
          <p *ngIf="movie.description">{{ movie.description }}</p>

          <p><strong>Director:</strong> {{ movie.director.name || 'Unknown' }}</p>

          <p><strong>Runtime</strong> {{movie.runTime}}min</p>

          <p><strong>Release Date</strong> {{utils.formatDate(movie.startDate)}}</p>

          <p><strong>Starting</strong> {{utils.formatDate(movie.updatedAt?movie.updatedAt:movie.createdAt)}}</p>

          <p>
            <strong>Genres:</strong>
            <span *ngFor="let mg of movie.movieGenres; let last = last">
              {{ mg.genre.name }}<span *ngIf="!last">, </span>
            </span>
            <span *ngIf="!movie.movieGenres || movie.movieGenres.length === 0">None listed</span>
          </p>

          <p>
            <strong>Actors:</strong>
            <span *ngFor="let ma of movie.movieActors; let last = last">
              {{ ma.actor.name }}<span *ngIf="!last">, </span>
            </span>
            <span *ngIf="!movie.movieActors || movie.movieActors.length === 0">None listed</span>
          </p>

        </mat-card-content>

        <mat-card-actions>
          <button mat-button [routerLink]="['/details/', movie.movieId]">Details</button>
          <a mat-button [routerLink]="['/details/', movie.movieId, 'reserve']"><i
              class="fa-solid fa-card-shopping">Reserve</i></a>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
</div>

<app-loading *ngIf="!movies && !error" />